server {
  listen 80;
  listen [::]:80;

  root /srv/jamesdoc.uk;

  server_name jamesdoc.uk www.jamesdoc.uk;

  location ~ /.well-known {
    allow all;
  }
  
  location / {
    return 302 https://jamesdoc.uk
  }
}
